/* line 2, ../../front/scss/styles.scss */
body h2 {
  color: blue;
}

/* line 6, ../../front/scss/styles.scss */
p {
  padding: 2em;
}

/* line 9, ../../front/scss/styles.scss */
div {
  font-size: 1.1rem;
}
